body {
  font-family: sans-serif;
  background-color: #fff;
  padding: 20px;
}
h2 {
  font-size: 25px;
  margin-bottom: 16px;
  text-align: center
}
form {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}
.column {
  flex: 1;
}
label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 4px;
}
select, textarea {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input {
  padding: 8px;
  font-size: 14px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

small {
  font-style: italic;
  font-size: 14px;
}

textarea {

  height: 80px;
  resize: vertical;
}
fieldset {
  border: none;
  padding: 0;
  margin-top: 10px;
}
legend {
  font-size: 14px;
  margin-bottom: 6px;
}
.actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
button {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button[type="reset"] {
  background-color: #ccc;
}
button[type="submit"] {
  background-color: #000;
  color: white;
}